 <div class="header">
   <div class="header-top">
     <div class="header-top-line"></div>
   </div>

   <div class="header-middle">
     <div class="header-middle-contents">
       <h1>Site for Footballer</h1>
     </div>
   </div>

   <div class="header-bottom">
     <div class="header-bottom-line">
       <ul class="header-nav">
         <% if user_signed_in? %>
          <li>
            <%= link_to "選手一覧", root_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "日程", root_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "チームプロフィール", root_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-color" %>
          </li>
         <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "nav-color" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "nav-color" %>
          </li>
        <% end %>
       </ul>
     </div>
   </div>
 </div>





